<config jar="salem.jar" mem="768m" server="plymouth.seatribe.se" res="http://plymouth.seatribe.se/res/">
	<!-- WINDOWS -->
	<item file="jogl-natives-windows-i586.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-windows-i586.jar" os="Windows" arch="x86" />
	<item file="gluegen-rt-natives-windows-i586.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-windows-i586.jar" os="Windows" arch="x86" />
	
	<item file="jogl-natives-windows-amd64.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-windows-amd64.jar" os="Windows" arch="amd64" />
	<item file="gluegen-rt-natives-windows-amd64.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-windows-amd64.jar" os="Windows" arch="amd64" />
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-windows-amd64.jar" os="Windows" arch="x86_64" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-windows-amd64.jar" os="Windows" arch="x86_64" extract="."/>
	
	<!-- SOLARIS -->
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-solaris-sparc.jar" os="SunOS" arch="sparc" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-solaris-sparc.jar" os="SunOS" arch="sparc" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-solaris-sparcv9.jar" os="SunOS" arch="sparcv9" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-solaris-sparcv9.jar" os="SunOS" arch="sparcv9" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-solaris-i586.jar" os="SunOS" arch="x86" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-solaris-i586.jar" os="SunOS" arch="x86" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-solaris-amd64.jar" os="SunOS" arch="amd64" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-solaris-amd64.jar" os="SunOS" arch="amd64" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-solaris-amd64.jar" os="SunOS" arch="x86_64" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-solaris-amd64.jar" os="SunOS" arch="x86_64" extract="."/>
	
	<!-- LINUX -->
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-linux-i586.jar" os="Linux" arch="i386" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-linux-i586.jar" os="Linux" arch="i386" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-linux-i586.jar" os="Linux" arch="x86" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-linux-i586.jar" os="Linux" arch="x86" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-linux-amd64.jar" os="Linux" arch="amd64" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-linux-amd64.jar" os="Linux" arch="amd64" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-linux-amd64.jar" os="Linux" arch="x86_64" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-linux-amd64.jar" os="Linux" arch="x86_64" extract="."/>
	
	<!-- MAC OS X -->
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-macosx-universal.jar" os="Mac OS X" arch="i386" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-macosx-universal.jar" os="Mac OS X" arch="i386" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-macosx-i586.jar" os="Mac OS X" arch="ppc" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-macosx-i586.jar" os="Mac OS X" arch="ppc" extract="."/>
	
	<item file="jogl_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all-natives-macosx-universal.jar" os="Mac OS X" arch="x86_64" extract="."/>
	<item file="gluegen_lib.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt-natives-macosx-universal.jar" os="Mac OS X" arch="x86_64" extract="."/>
	
	<item file="jogl.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/jogl-all.jar"/>
	<item file="gluegen-rt.jar" link="http://plymouth.seatribe.se/java/jogl2/jar/gluegen-rt.jar"/>
	<item file="salem-res.jar" link="http://plymouth.seatribe.se/java/salem-res.jar" />
	<item file="builtin-res.jar" link="http://plymouth.seatribe.se/java/builtin-res.jar" />
	<item file="salem.jar" link="http://odditown.taggedup.com/ender/salem/salem.jar" />
	<item file="client-res.jar" link="http://odditown.taggedup.com/ender/salem/client-res.jar" />
</config>